@media print {
  @page {
    size: 80mm auto portrait;
    margin: 0;
  }

  html, body {
    width: 80mm;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }

  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    box-sizing: border-box;
  }
}
